.container{
    text-align: center;
    margin: 10px auto;
}

table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: auto;
  }

.main-body{
    max-width: 1240px;
    margin: 0 auto;
}
